/* style.css */
#container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

canvas {
    border: 2px solid black;
}

#area-apostas {
    margin-top: 20px;
}

#area-apostas input, #area-apostas select, #area-apostas button {
    margin: 5px;
}

#painel-controle {
    margin-top: 20px;
}

#botoes button {
    margin: 5px;
}